@charset "utf-8";
/* CSS Document */

#productBox {
	border-radius: 17px;
	border-style: solid;
	border-width: 1px;
	border-color:#CCC;
	height: auto;
	width: 300px;
	padding: 5px;
	margin: 20px;
}

#productBoxThumb {
	border-style: solid;
	border-width: 1px;
	border-color:#CCC;
	height: auto;
	width: 200px;
	padding: 15px;
	margin: 20px;
}

#productPicture {
	width: 70%;
	height: 70%;
}

#productPicture img {
	border-radius: 12px;
	height:auto;
	width: 100%;
}

#thumbnailPicture img {
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	height: 100%;
	width: 100%;
}

#productDescription{
	width: auto;
	margin:5px;	
	font-family: 'Kreon', serif;
	/*font-family:Arial, Helvetica, sans-serif;*/
}

#productList li {
	list-style-type: none;	
}

#boldText {
	font-weight: bold;
}

#thumbText h1{
	font-size:large;
}