@charset "utf-8";
/* CSS Document */

#productBox {
	border-style: solid;
	border-width: 1px;
	border-color:#CCC;
	/*height: auto;*/
	width: 300px;
	padding: 5px;
	margin: 20px;
}

#productPicture {
	width: 70%;
	height: 70%;
}

#productPicture img {
	height:auto;
	width: 100%;
}

#thumbnailPicture img {
	height: 100%;
	width: 100%;
}

#productDescription{
	width: auto;	
}

#productList li {
	list-style-type: none;	
}