@charset "utf-8";
/* CSS Document */

#productBox {
	border-style: solid;
	border-width: 1px;
	border-color:#CCC;
	height: auto;
	width: auto;
	padding: 5px;
	/*margin: 30px;*/
}

#productPicture {
	width: auto;
	height: auto;
}

#productPicture img {
	height:70%;
	width: auto;


#thumbnailPicture {
	height: auto;
	width: 100%;
}

#productDescription{
	width: auto;	
}

.productList li {
	list-style: none;	
}