@charset "utf-8";
/* CSS Document */
/* CSS for all product and browsing pages */

/* Strukturen för hela sidan */
.construct{
	border: 1px solid black;
	background-color:#FFF;
	width: 80%;
	height: auto;
	margin: 0px;	
	font-family:"Arial Black", Gadget, sans-serif;
	/*border-collapse:collapse;*/
}

.construct td {
	vertical-align:top;
	padding: 15px;
	width: 50%;
}

.construct h1 {
	font-weight:bold;
	font-size:24px;
}

.construct h2 {
	font-weight:bold;
	font-size:18px;
}

/* Tabellen under produkten */
.constructFooter {
	border: 1px solid black;
	background-color:#FFF;
	width: 100%;
	height: auto;
	margin: -5px;
	table-layout:fixed;
}

.constructFooter td{
	border: 1px solid black;
	background-color:#FFF;
	height: auto;
	margin: -5px;
}

#descriptionContainer {
}

#browseContainer {

}

/*Navigationsstyling */
#menu ul {
	list-style-type: none;
    /*margin: 0;*/
    padding: 0;
	overflow:hidden;
	
}
#menu li {
	 float:left;
	 font-family: 'Oswald', sans-serif;
	 font-size:25px;
	 height:100%;
}

#menu a:link, a:visited {
    display: block;
    width: 100%;
	height: 25px;
    font-weight: bold;
	
    color: #FFF;
    background-color: #0C3;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#menu a:hover, a:active {
    background-color: #0F3;
}

