@charset "utf-8";
/* CSS Document */
/* CSS for all product and browsing pages */

/* Strukturen för hela sidan */
.construct{
	/*border: 1px solid black;*/
	background-color:#FFF;
	width: 90%;
	height: auto;
	margin: 0px;	
	font-family: 'Kreon', serif;
	/*font-family:"Arial Black", Gadget, sans-serif;*/
	/*border-collapse:collapse;*/
}

.construct li {
	list-style: none;
}

.construct td {
	vertical-align:top;
	padding: 15px;
	width: 50%;
}

.construct h1 {
	font-weight:bold;
	font-size:40px;
}

.construct h2 {
	font-weight:bold;
	font-size:30px;
}

/* Tabellen under produkten */
.constructFooter {
	/*border: 1px solid black;*/
	background-color:#FFF;
	width: 100%;
	height: auto;
	margin: 0px;
	table-layout:fixed;
	/*padding: 5px;*/
}

.constructFooter td{
	/*border: 1px solid black;*/
	background-color:#FFF;
	height: auto;
	margin: 0px;
}

#tags p{
	color: #FFF;
	background-color:#666;
}