.search-box {
  position: absolute;
  margin-left: 50%;
  left: -250px;
  font-size: 30px;
  top: 50%;
  margin-top: -10px;
}

.bg-images {
  -webkit-filter: blur(5px);
  /*position: absolute;*/
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.bg-images img {
  float: left;
  height: 20%;
}

.search-input {
  border-radius: 10px;
}

form {
  width: 500px;
  margin: 50px auto;
}

.search {
  font-size: 30px;
  padding: 8px 15px;
  width: 400px;
  /*max-height: 50px;*/
  /*background: rgba(255, 255, 255, 0.5);*/
  border: 0px solid #dbdbdb;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  /*border-radius: 50px;*/
}

.button {
  font-size: 15px;
  position:relative;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  /*border-radius: 50px;*/
  padding: 6px 15px;
  top: -8px;
  left: -8px;
  width: 50px;
  height: 50px;
  border: 1px solid #207cca;
  background-color: #207cca;
  color: #fafafa;
}

.button:hover  {
  background-color: #fafafa;
  color: #207cca;
}