@charset "utf-8";
/* CSS Document */

#productBox {
	border-style: solid;
	border-width: 1px;
	border-color:#000;
	height: 100%;
	width: 300px;
	padding: 5px;
	margin: 25px;
}

#productPicture {
	width: auto;
	height: 70%;
}

#productPicture img {
	height:100%;
	width: 100%;

}

#productDescription {
	width:auto;
	height: 10%;
	padding: 5px;
}

#productPreview {
}

