@charset "utf-8";
/* CSS Document */

#productBox {
	border-style: solid;
	border:thin;
	border-color:#000;
	height: 300px;
	width: 200px;
	padding: 5px;
}

#productPicture {
	width: auto;
}

#productPicture img {
	height: auto;
}

#productDescription {
	width:auto;
	height: 30%;
}

