@charset "utf-8";
/* CSS Document */
/* CSS for all product and browsing pages */

.construct{
	border: 1px solid black;
	width: 100%;
	height: 1000px;
	/*border-collapse:collapse;*/
}

.construct td {
	valign: top;
	panning: 5px;
}

#container {
}

#menu ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow:hidden;
}
#menu li {
	 float:left;
}

#menu a:link, a:visited {
    display: block;
    width: 100%;
	height: 25px;
    font-weight: bold;
    color: #FFF;
    background-color: #0C3;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#menu a:hover, a:active {
    background-color: #0F3;
}

